.mo{display: none;}
.station2{display: none!important;}
@media (max-width:1280px){ /* 태블릿 */
    .mo{display:block;}
    .commonFrame.desc3 {
        gap:1rem;
    }
    .commonFrame.desc3 br{
        display: none;
    }
    .commonFrame.fade{
        margin-top:var(--space-middle);
        margin-bottom:var(--space-middle);
        gap:3rem;
    }
    .tab{display:block;}
    html{font-size: var(--font-size-tab);}
    .pc{display: none;}
    .commonFrame{
        width:auto;
        margin:0 1rem;
    }
    .type1{
        margin-top:var(--space-large);
        gap: 1rem;
        margin-bottom:var(--space-large);
    }
    /* .pt100{
        padding-top:0
    } */
    .header_mo{
        position:fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 5rem;
        background-color: #fff;
        padding:0 1rem;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        z-index: 1000;
        border-bottom:1px solid rgb(233,233,233);
    }
    .logo_mo{ 
        display: flex;
        align-items: center;
    }
    .logo_mo img{
        height: 3rem;
    }
    #btn_gnb img{
        height: 1.3rem;
        cursor: pointer;
    }
    #btn_gnb{
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }
    .hidden_gnb{
        position: fixed;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        padding:1rem;
        box-sizing: border-box;
        background-color: #fff;
        transform:translateX(100%);
        transition:all 0.6s ease 0s;
    }
    .hidden_gnb.on{
        transform:translate(0%);
    }
    .hidden_gnb_top{
        display: flex;
        justify-content: space-between;
        height: 5rem;
    }
    #btn_close_gnb img{
        height: 1.5rem;
        cursor: pointer;
    }
    #btn_close_gnb{
        display: flex;
        align-items: center;
        padding-left: 2rem;
    }
    .gnb_mo_wrap{
        margin: var(--space-middle) 0;
        height: calc(100vh - 16rem);
        overflow:auto;
        min-height:15rem;
    }
    .hidden_gnb_bottom{
        height:5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        -background-color: var(--main-color);
    }
    .sns{
        display: flex;
        gap:var(--space-small);
    }
    .sns img{
        height: 1.5rem;
    }
    .gnb_mo a{
        display: flex;
        align-items: center;
        height:2.5rem;
        -padding:0 1rem;
    }
    .gnb_mo>li{
        border-bottom: 1px solid var(--inactive-color);
        position: relative;
    }
    .gnb_mo>li:hover:after{
        transform: rotate(0deg);
    }
    .gnb_mo>li:after{
        content:'';
        position:absolute;
        right:1rem;
        top:1rem; /* li의 높이가 늘어나도 중앙을 유지하기 위해서 정확한 값을 적용해준다 */
        width:0.55rem;
        height:1rem;
        background: url("../img/icn_depth.svg") no-repeat 50% 50% / contain;
        transform:rotate(180deg);
        transition: all 0.3s ease 0s;
    }
    .gnb_mo>li:hover ul{
        height: 12.5rem;
    }
    .gnb_mo ul a{
        background: var(--main-color);
        color:#fff;
        padding:0 10px;
    }
    .gnb_mo ul{
        height: 0;
        overflow: hidden;
        transition:all 0.4s ease 0s;
    }
    .station1{margin-top:5rem;}  
}
@media (max-width:768px){ /* 모바일 */
    html{font-size: var(--font-size-mobile);}
    .commonFrame.desc3{
        flex-direction: column;
        gap:1rem;
    }
    .commonFrame.desc3 figure{
        height:34rem;
        flex-grow:0;
        flex-basis: auto;
    }
    .station1 .swiper-pagination{
        margin-bottom: 3rem;
    }
    footer .commonFrame{
        flex-direction: column-reverse;
        gap: var(--space-small);
        align-items: center;
    }
    .commonFrame.fade{
        align-items: stretch;
        flex-direction: column;
        gap:var(--space-small);
    }
    .station3{width: 100%;}
    .station4{width: 100%;}
    .commonFrame.desc1{
        flex-direction: column;
        gap:var(--space-small);
    }
    .commonFrame.desc1 .txt{
        padding-top:0;
    }
    .station2{
        display:block!important;
        width:100%;
        height: 100%;
    }
    .station1 img{
        width:100%;
        height:auto;
        object-fit: cover;
    }
    .station1{display: none!important;}
    .commonFrame.station5{
        margin:0 1rem;
    }
    .type1{
        flex-direction: column;
    }
    .type1 figure{
        text-align: center;
    }
    .type1 figure img{
        width:100%;
    }
    .logo_foot{
        text-align: center;
    }
    .foot2{
        display: flex;
        flex-direction: column-reverse;
        gap:var(--space-small);
    }
    .foot_menu{
        justify-content: center;
        flex-wrap:wrap;
        gap:var(--space-small);
    }
    .info{
        justify-content: center;
    }
    .copy{
        text-align: center;
    }
}
@media (max-width:300px){
    .hidden_gnb_bottom{
        flex-direction: column-reverse;
    }
}